@import "tailwindcss";
@theme {
  --font-poppins: var(--font-poppins);
  --font-orbitron: var(--font-orbitron);
  --font-inter: var(--font-inter);
  --color-black: #111111;
  --color-accent: #e7192e;
}
@layer base {
  h1 {
    @apply font-poppins sm:text-4xl text-2xl font-bold text-white;
  }
  h2 {
    @apply font-poppins sm:text-2xl text-lg font-semibold text-white;
  }
  h3 {
    @apply font-poppins sm:text-xl text-base font-medium text-white;
  }
  h4 {
    @apply font-orbitron sm:text-base text-sm font-bold text-white;
  }
  p {
    @apply font-inter sm:text-base text-sm;
  }
  main,
  body {
    @apply bg-black min-h-screen w-full;
  }
}
